<div id="login">
  <mat-card style="padding: 20px; background-color: whitesmoke;">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><h1 class="display-6">{{LABEL_FORM.LABEL_FORMS.titleForm.signin}}</h1></mat-card-title>
    </mat-card-header>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>{{LABEL_FORM.LABEL_FORMS.fieldForm.name}}</mat-label>
            <input type="text"  formControlName="name" matInput>
            <mat-error *ngIf="form.get('email').hasError('email')">{{LABEL_ERROR.LABEL_ERROR.emailFormatError}}</mat-error>
            <mat-error *ngIf="form.get('email').hasError('required')">{{LABEL_ERROR.LABEL_ERROR.emailRequired}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>{{LABEL_FORM.LABEL_FORMS.fieldForm.surname}}</mat-label>
            <input type="text"  formControlName="surname" matInput>
            <mat-error *ngIf="form.get('password').hasError('required')">{{LABEL_ERROR.LABEL_ERROR.passwordRequired}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="margin-bottom: 10px;">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>{{LABEL_FORM.LABEL_FORMS.fieldForm.email}}</mat-label>
            <input type="email"  formControlName="email" matInput>
            <mat-error *ngIf="form.get('email').hasError('email')">{{LABEL_ERROR.LABEL_ERROR.emailFormatError}}</mat-error>
            <mat-error *ngIf="form.get('email').hasError('required')">{{LABEL_ERROR.LABEL_ERROR.emailRequired}}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>{{LABEL_FORM.LABEL_FORMS.fieldForm.password}}</mat-label>
            <input type="password"  formControlName="password" matInput>
            <mat-error *ngIf="form.get('password').hasError('required')">{{LABEL_ERROR.LABEL_ERROR.passwordRequired}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline">
            <mat-label>{{LABEL_FORM.LABEL_FORMS.fieldForm.phone}}</mat-label>
            <input type="email"  formControlName="phone" matInput>
            <mat-error *ngIf="form.get('email').hasError('email')">{{LABEL_ERROR.LABEL_ERROR.emailFormatError}}</mat-error>
            <mat-error *ngIf="form.get('email').hasError('required')">{{LABEL_ERROR.LABEL_ERROR.emailRequired}}</mat-error>
          </mat-form-field>
        </div>

       </div>

    </mat-card-content>
    <mat-card-footer align="end">
      <button mat-button type="button" routerLink="/login">{{LABEL_BUTTON.LABEL_BUTTON.CANCEL}}</button>
      <button mat-button type="submit" [disabled]="form.invalid">{{LABEL_BUTTON.LABEL_BUTTON.SUBSCRIBE}}</button>
    </mat-card-footer>
  </form>
  </mat-card>
</div>


