<mat-card class="mat-elevation-z8">
  <mat-label class="display-5">Teachers</mat-label>
  <mat-chip-list>
    <mat-chip *ngFor="let item of teachers$ | async"
    matTooltip="
          nome: {{item.name}} -
          edumail: {{item.edumail}} -
          mail: {{item.email}} -
          indirizzo: {{item.adress}} -
          tel: {{item.phone}}">
      <mat-chip-avatar>
          <img src="./../../../../../../assets/icon/teacher.png" width="130%"/>
      </mat-chip-avatar>
      {{item.surname}}
    </mat-chip>
  </mat-chip-list>
</mat-card>




<!-- <section class="example-section" [formGroup]="toppings">
  <h4>You chose:</h4>
  {{toppings.value | json}}
</section> -->

