.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.box{
  padding-top: 20px;
  margin-left: 11px;
  margin-right: 10px;
  width: 205px;
  text-align: center;
  background-color: whitesmoke;
  height: 60px;
}
