<div class="row justify-content-center">
  <div class="col-3 mt-2">
    <button mat-stroked-button style="margin-right: 10px;">
      <img [src]="img_src.DISPOSIZIONE_BANCHI1" alt="" srcset="" width="60px" name="1" (click)="onclick(1)">
    </button>
    <button mat-stroked-button style="margin-right: 10px;">
      <img [src]="img_src.DISPOSIZIONE_BANCHI2" alt="" srcset="" width="60px" name="2" (click)="onclick(2)">
    </button>
    <button mat-stroked-button>
      <img [src]="img_src.DISPOSIZIONE_BANCHI3" alt="" srcset="" width="60px" name="3" (click)="onclick(3)">
    </button>



  </div>
  <div class="col-2 mt-2">
    <mat-form-field appearance="outline">
      <mat-label>Numero di righe</mat-label>
      <input matInput type="number" placeholder="" [disabled]="flag">
    </mat-form-field>
  </div>
  <div class="col-2 mt-2">
    <mat-form-field appearance="outline">
      <mat-label>Numero di colonne</mat-label>
      <input matInput type="number" placeholder="" [disabled]="flag">
    </mat-form-field>
  </div>
  <div class="col-1 center">
    <button mat-raised-button color="primary" [disabled]="flag">Primary</button>
  </div>
</div>

<mat-card *ngIf="students.length > 0" class="mt-3 mat-elevation-z8" style="background-color: whitesmoke;">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Small</mat-card-subtitle>
      <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
  </mat-card>

</mat-card>
