
<div class="container">
  <div class="row">
    <ngx-dropzone (change)="onChange($event)" accept="text/plain">
      <ngx-dropzone-label>
        Export from exel file .txt (tsv) and Drop it:
        <div>This is an example of a file structure</div>
        <div>
          <table style="border: solid 1px whitesmoke;">
            <thead>
              <th style="border: solid 1px whitesmoke;">id</th>
              <th style="border: solid 1px whitesmoke;">surname</th>
              <th style="border: solid 1px whitesmoke;">matter</th>
              <th style="border: solid 1px whitesmoke;">PRIMA</th>
              <th style="border: solid 1px whitesmoke;">SECONDA</th>
              <th style="border: solid 1px whitesmoke;">TERZA</th>

            </thead>
            <tbody>
              <tr style="border: solid 1px whitesmoke;">
                <td>A001</td>
                <td>Rossi</td>
                <td>MATEMATICA</td>
                <td>A</td>
                <td></td>
                <td>A-B</td>
              </tr>
              <tr style="border: solid 1px whitesmoke;">
                <td>A002</td>
                <td>Bianchi</td>
                <td>ITALIANO-STORIA</td>
                <td></td>
                <td>A-B-E</td>
                <td></td>
              </tr>
              <tr style="border: solid 1px whitesmoke;">
                <td>A002</td>
                <td>Verdi</td>
                <td>RELIGIONE</td>
                <td>A-B-C-D-E</td>
                <td>A-B-C-D-E</td>
                <td>A-B-C-D</td>
              </tr>
            </tbody>
          </table>
        </div>

      </ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
    </ngx-dropzone>
  </div>

  <mat-divider></mat-divider>
  <div class="row mt-5" style="background-color: whitesmoke; height: 400px;">
    <div *ngIf="teacher.length == 0" class="row text-center">
      <div class="col display-3 mt-5" style="opacity: 0.1; ">
        <b>PREVIEW</b>
      </div>

    </div>
    <app-preview [dataIn]="teacher" (dataOut)="handleData($event)"></app-preview>
  </div>

  <div class="row mt-4">
    <div class="col">
      <button mat-raised-button color="primary" (click)="openDialog()">{{BUTTON.LABEL_BUTTON.SENGLETEACHER}}</button>
    </div>
    <div class="col" align="end">
      <button mat-button style="background-color: #d5e6da;" (click)="onSubmit()" [disabled]="flag">{{BUTTON.LABEL_BUTTON.SEND}}</button>
    </div>
  </div>
</div>

