/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-success {
  background: green !important;
}

.snackbar-error {
  color: white;
  background: red !important;
}

button[mat-icon-button]{
  $large-size-button: 80px;
  $large-size-icon: 48px;

      &.icon-button-large {
        width: $large-size-button;
        height: $large-size-button;
        line-height: $large-size-button;
      .mat-icon {
        font-size: $large-size-icon;
        width: $large-size-icon;
        height: $large-size-icon;
        line-height: $large-size-icon;
      }
      .mat-button-ripple {
        font-size: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
      }
    }

    $small-size-button: 24px;
    $small-size-icon: 18px;

      &.icon-button-small {
        width: $small-size-button;
        height: $small-size-button;
        line-height: $small-size-button;
      .mat-icon {
        font-size: $small-size-icon;
        width: $small-size-icon;
        height: $small-size-icon;
        line-height: $small-size-icon;
      }
      .mat-button-ripple {
        font-size: inherit;
        width: inherit;
        height: inherit;
        line-height: inherit;
      }
    }
  }
